<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mqtt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MqttClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MqttTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82093A531C735F1F0002A01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82093A611C735FDA0002A01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82226E971C4CDFA800A09B67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D0724D1C60463A00D9AF61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D830D71DB0A65E0022D257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D830E51DB0A9680022D257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
